<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
   default-destroy-method="destroy" default-init-method="init" >

	<bean id="employee" class="com.nineleaps.spring.model.Employee" 
	autowire="byName" depends-on="address">
		<property name="e_name" value="Debi" />
	</bean>
	<alias name="employee" alias="emp"/>
	
	
	<bean id="employee1" class="com.nineleaps.spring.model.Employee" lazy-init="true">
		<constructor-arg 
		type = "java.lang.String"
		value="Jha" />
		<constructor-arg
			ref="employee" />
		<constructor-arg
			 ref="address" />
	</bean>

	
	<bean name="address" class="com.nineleaps.spring.model.Address">
		<property name="address_line1" value="Bangalore" />
	</bean>
	
	<bean id="address1" class="com.nineleaps.spring.model.Address" lazy-init="true">
		<constructor-arg index="0" value="Bangalore" />
		<constructor-arg index="1" value="Karnataka" />
	</bean>

 	
 	<bean id="address2" class="com.nineleaps.spring.model.Address"
		destroy-method="customdestroy" init-method="custominit"
		p:address_line1="Bangalore" 
		p:address_line2="KA" lazy-init="true"/>
	
	
	<bean id="employee2" class="com.nineleaps.spring.model.Employee" lazy-init="true">
		<property name="e_name" value="Nineleaps" />
		<property name="Address" >
			<bean class="com.nineleaps.spring.model.Address"> 
	            <property name="address_line1" value="Chhenai"/>
	            <property name="address_line2" value="TN"/>
	        </bean>
		</property>
	</bean>
	
	
	<bean id="employee3" class="com.nineleaps.spring.model.Employee" 
	c:address-ref="address" c:manager-ref="employee" c:e_name="Smith"/>


	<bean id="employee4" class="com.nineleaps.spring.model.Employee" 
	factory-method="createEmployee"/>
	
	
	<bean id="employee5" class="com.nineleaps.spring.model.Employee" 
	factory-bean="emp" factory-method="createInstance"/>
		
		
	<bean id="abstractaddress" class="com.nineleaps.spring.model.AbstractAddress" >             
        <lookup-method bean="Address" name="getAddress"/>
    </bean> 
    
    <bean id="addressaware" class="com.nineleaps.spring.model.AddressAware" /> 
    
    <bean id="abstractaddress1" class="com.nineleaps.spring.model.AbstractAddress" abstract="true">             
        <property name="address_line1" value = "Bangalore"/>
    </bean>
    
    <bean id="address5" class="com.nineleaps.spring.model.Address" parent = "abstractaddress1">             
        <property name="address_line2" value = "KA"/>
    </bean>
    
    <bean class="com.nineleaps.spring.model.Address" primary="true">
		<property name="address_line1" value="Mysore" />
	</bean>
	
	<bean class="com.nineleaps.spring.model.Address">
		<property name="address_line1" value="Kolar" />
	</bean>
                
</beans>